[user]
  name = okaryo
  email = okaryotr@gmail.com
[color]
  ui = auto
[push]
  default = simple
[alias]
  co = checkout
  br = branch
  cm = commit -m
  sreset = reset --soft HEAD^
[core]
  ignorecase = false
